:global(#app) {
  .field {
    margin-bottom: 8px;
  }

  .text {
    color: #444444;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 6px;
  }

  /* Modal */
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 80vh;
  }

  .modal {
    width: 100vw;
  }
}
